@{
    ViewData["Title"] = "Editar Doctor";
    var id = ViewBag.Id;
}

<input type="hidden" id="doctorId" value="@id" />

<div class="card shadow-sm">
    <div class="card-header bg-warning">
        Editar Doctor
    </div>

    <div class="card-body">

        <div class="mb-2">
            <label>Nombre</label>
            <input type="text" id="nombre" class="form-control" />
        </div>

        <div class="mb-2">
            <label>Especialidad</label>
            <select id="especialidadId" class="form-control"></select>
        </div>

        <div class="mb-2">
            <label>Teléfono</label>
            <input type="text" id="telefono" class="form-control" />
        </div>

        <div class="mb-2">
            <label>Email</label>
            <input type="email" id="email" class="form-control" />
        </div>

        <button class="btn btn-warning" onclick="actualizar()">Actualizar</button>
        <a href="/Doctores" class="btn btn-secondary">Cancelar</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/doctores.js"></script>
}