@model AppCitasMedicas.DTO.Request.Doctor.DoctorUpdateRequest

<h2>Editar Paciente</h2>

<form asp-action="Editar" method="post" asp-route-id="@ViewBag.Id">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Id de especialidad</label>
        <input asp-for="EspecialidadId" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Telefono</label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Actualizar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>