@{
    ViewData["Title"] = "Doctores";
}

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
        <h5 class="mb-0">Lista de Doctores</h5>
        <a href="/Doctores/Crear" class="btn btn-light btn-sm">Agregar</a>
    </div>

    <div class="card-body">

        <!-- Busca pacientes por id -->
        <div class="row mb-3">
            <div class="col-md-3">
                <input type="number" id="buscarId" class="form-control" placeholder="Buscar por ID" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" onclick="buscarPorId()">Buscar</button>
            </div>
            <!-- Muestra todos los pacientes de nuevo con el metodo de doctroes.js -->
            <div class="col-md-2">
                <button class="btn btn-secondary" onclick="cargarDoctores()">Mostrar Todos</button>
            </div>
        </div>

        <!-- TABLA -->
        <table class="table table-striped" id="tablaDoctores">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/doctores.js"></script>
}