@{
    ViewData["Title"] = "Crear Paciente";
}

<div class="card shadow-sm">
    <div class="card-header bg-success text-white">
        Crear Paciente
    </div>

    <div class="card-body">
        <div class="mb-2">
            <label>Nombre</label>
            <input type="text" id="nombre" class="form-control" />
        </div>

        <div class="mb-2">
            <label>Edad</label>
            <input type="number" id="edad" class="form-control" />
        </div>

        <div class="mb-2">
            <label>Teléfono</label>
            <input type="text" id="telefono" class="form-control" />
        </div>

        <div class="mb-2">
            <label>Email</label>
            <input type="email" id="email" class="form-control" />
        </div>

        <button class="btn btn-success" onclick="guardar()">Guardar</button>
        <a href="/Pacientes" class="btn btn-secondary">Cancelar</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/pacientes.js"></script>
}