@page "/CrearTarea"
@using TareasApp.Services
@using TareaWeb.Tarea
@inject TareasService tareasService
@inject NavigationManager navigationManager

<h3>Crear Nueva Tarea</h3>

<input @bind="descripcion" placeholder="Descripción" class="form-control" />
<button class="btn btn-success mt-2" @onclick="Guardar">Guardar</button>

@code {

    string descripcion;

    void Guardar()
    {
        var nueva = new Tarea { Descripcion = descripcion };
        tareasService.Agregar(nueva);
        navigationManager.NavigateTo("/");
    }

}