@using TareasApp.Services
@using TareaWeb.Tarea

@page "/crear-tarea"
<h3>Crear Nueva Tarea</h3>
<input @bind="descripcion" placeholder="Descripción" class="form-control" />
<button class="btn btn-success mt-2" @onclick="Guardar">
    Guardar
</button>
@code {
    string descripcion;
    async Task Guardar()
    {
        var nueva = new Tarea { Descripcion = descripcion };
        await Http.PostAsJsonAsync("api/tareas", nueva);
        Navigation.NavigateTo("/tareas");
    }
    [Inject] HttpClient Http { get; set; }
    [Inject] NavigationManager Navigation { get; set; }
}
