@{
    ViewData["Title"] = "Especialidades";
}

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
        <h5 class="mb-0">Lista de Especialidades</h5>
    </div>

    <div class="card-body">
        <table class="table table-striped" id="tablaEspecialidades">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/especialidad.js"></script>
}